{{> navbar}}
<br />

<h1>signup</h1>

<form method="post" action="/login">
  <div class="row mb-3">
    <label for="username" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" name="username" id="username">
    </div>
  </div>
  <div class="row mb-3">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password">
    </div>
  </div>
 
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>